:root {
    --blue: #19184d;
    --red: #e30613;
    --white: #fff;

    --blue-bg: #ebebf8;

    --family-text: "Fira Sans", Tahoma, Verdana, Segoe, sans-serif;
    --family-title: tiempos, "EB Garamond", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

/* Generic */

body {
    margin: 0;
    padding: 0;

    font-family: var(--family-text);
}

/* Header */

body > header {
    padding: 3rem .4rem;
    background: var(--blue);
    border-bottom: solid 4px var(--red);
    color: var(--white);
    text-align: center;
}
body > header .surtitle {
    margin: 0;
    font-variant: all-small-caps;
    font-size: 1.2rem;
    line-height: 1.4;
}
body > header h1 {
    margin: 0;
    font-family: var(--family-title);
    font-size: 2.4rem;
    line-height: .9;
}

/* Controls */

body > aside.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem auto;
    max-width: 1344px;
}

body > aside.controls .search {
    flex: 10;
    margin-left: .6rem;
}
body > aside.controls .search input[type="search"] {
    padding: .4rem;
    border: solid 1px #CBD2D9;
    border-radius: 4px;
    width: 20rem;
}

body > aside.controls .filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: .6rem;
}
body > aside.controls .filters *:not(:last-child) {
    margin-right: 1rem;
}
body > aside.controls .filters p {
    font-weight: bold;
}

/* List */

section#results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    margin: 0 auto;
    max-width: 1344px;
    text-align: center;
}
section#results div.invisible{
    display: none;
}

.result {
    margin: .6rem;
    padding: 0;
    border-top: solid 6px var(--alignment-color, #9AA5B1);
    border-bottom: solid 4px var(--alignment-color, #9AA5B1);
    border-radius: 10px;
    overflow: hidden;

    background: var(--blue-bg);
}
.result header {
    padding: .6rem 0;
    text-align: center;
    background: var(--blue-bg);
}
.result header h2 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 600;
}
.result header p.parrainnages {
    margin: 0;
    font-size: 1.3rem;
}
.result .map{
    height: 400px;
    overflow: hidden;
}
.result .map .jvectormap-container {
    padding-top: .2rem;
}
.result footer {
    margin: 0;
    padding: .4rem 0 .8rem;
    background: var(--blue);
    color: var(--white);
}
.result footer ul {
    list-style-type: none;
    margin: 0;
}
.result footer ul li {
    display: flex;
}
.result footer ul li strong {
    display: block;
    margin-right: .4rem;
    width: 2rem;
    text-align: right;
}

.no-results {
    display: none;
    margin: 6rem 0;
    text-align: center;
    line-height: 1.4;
}
.no-results.is-active {
    display: block;
}
.no-results strong {
    font-size: 1.4rem;
}

/* Footer */

body > footer {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    color: #3E4C59;
}

@media screen and (max-width: 768px) {
    body > aside.controls {
        display: block;
    }
    body > aside.controls .search, body > aside.controls .filters {
        margin: 0 .4rem;
    }
    body > aside.controls .search input[type="search"] {
        width: 100%;
    }
    body > aside.controls .filters {
        margin-top: .4rem;
    }
    body > aside.controls .filters p {
        display: none;
    }

    section#results {
        display: block;
    }
}