section{
    display: flex;
    flex-wrap: wrap;

}
section .control{
    flex: 3 100%;
}
section div{

}
section div.invisible{
    display: none;
}
.result{
    width: 30%;
    margin-right: 10px;
}
.result .map{
    height: 400px;
}
header {
    border-radius: 10px 10px 0px 0px;
}
header h1 {
    text-align: center;
}